{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Projects</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Projects</th>
							<th>Category</th>
							<th>Domain</th>
						</tr>

						{% for i in projects %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.domain}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}